@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: white;
    --foreground: black;
  }
  .dark {
    --background: black;
    --foreground: white;
  }
}

html {
  background-color: transparent;
}

html,
body {
  height: 100vh;
}
